[submodule "cmake"]
	path = cmake
	url = https://github.com/biojppm/cmake
[submodule "extern/rapidyaml"]
	path = extern/rapidyaml
	url = https://github.com/biojppm/rapidyaml
[submodule "c4core"]
	path = extern/c4core
	url = https://github.com/biojppm/c4core
